[submodule "lib/spdlog"]
	path = lib/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "lib/cpp-httplib"]
	path = lib/cpp-httplib
	url = git@github.com:yhirose/cpp-httplib.git
